html{
    background-color: #e4e7ea !important;
}

.table-wrapper {
    padding: 20px;
}

.table-wrapper .table b {
    color: #1caf9a;
    font-size: 20px;
}

.table-wrapper .table td{
    height: 60px;
    vertical-align: middle;
}

#date-none-hint{
    text-align: center;
    padding: 0 0 50px;
}