<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/ico" />
    <title>充值记录</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/user/rechargeRecord.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLBar, 0); }, false);
    function hideURLBar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <link href="/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/css/zoomslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link href="/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/js/user/modernizr-2.6.2.min.js"></script>
    <!--/web-fonts-->
    <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
</head>
<body>
<div id="demo-1" class="banner-inner">
    <div class="banner-inner-dott">
        <div class="header-w3-agileits" id="home">
            <div class="inner-header-agile part2">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a  href="/user/home"><span>M</span>ovies <span>P</span>ro</a></h1>
                    </div>
            <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/user/home">首页</a></li>
                            <li><a href="/user/movie">电影列表</a></li>
                            <li><a href="/user/ticket">我的电影票</a></li>
                            <li><a href="/user/cardPocket">卡包</a></li>
                            <li><a href="/user/consumeRecord">订单记录</a></li>
                            <li><a href="/user/rechargeRecord">充值记录</a></li>
                            <li><a href="/logout">登出</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="table-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 195px">充值时间</th>
<!--            <th style="width: 100px">实付金额</th>-->
            <th style="width: 100px">到账金额</th>
            <th style="width: 100px">账户余额</th>
        </tr>
        </thead>
        <tbody id="tbody0">
        </tbody>
    </table>
</div>

</body>
</html>