<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.cinemasystem.dataservices.cinema.hall.HallMapper">
    <resultMap id="BaseResultMap" type="edu.nju.cinemasystem.data.po.Hall">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="column" jdbcType="INTEGER" property="column"/>
        <result column="row" jdbcType="INTEGER" property="row"/>
        <result column="size" jdbcType="TINYINT" property="size"/>
        <result column="is_Imax" jdbcType="TINYINT" property="isImax"/>
        <result column="is3D" jdbcType="TINYINT" property="is3d"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, `column`, `row`, size, is_Imax, is3D
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hall
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hall
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from hall
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="edu.nju.cinemasystem.data.po.Hall"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into hall (id, name, `column`,
                          row, size, is_Imax,
                          is3D)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{column,jdbcType=INTEGER},
                #{row,jdbcType=INTEGER}, #{size,jdbcType=TINYINT}, #{isImax,jdbcType=TINYINT},
                #{is3d,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" parameterType="edu.nju.cinemasystem.data.po.Hall"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into hall
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="column != null">
                `column`,
            </if>
            <if test="row != null">
                `row`,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="isImax != null">
                is_Imax,
            </if>
            <if test="is3d != null">
                is3D,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="column != null">
                #{column,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                #{row,jdbcType=INTEGER},
            </if>
            <if test="size != null">
                #{size,jdbcType=TINYINT},
            </if>
            <if test="isImax != null">
                #{isImax,jdbcType=TINYINT},
            </if>
            <if test="is3d != null">
                #{is3d,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="edu.nju.cinemasystem.data.po.Hall">
        update hall
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="column != null">
                `column` = #{column,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                `row` = #{row,jdbcType=INTEGER},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=TINYINT},
            </if>
            <if test="isImax != null">
                is_Imax = #{isImax,jdbcType=TINYINT},
            </if>
            <if test="is3d != null">
                is3D = #{is3d,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="edu.nju.cinemasystem.data.po.Hall">
        update hall
        set name     = #{name,jdbcType=VARCHAR},
            `column` = #{column,jdbcType=INTEGER},
            row      = #{row,jdbcType=INTEGER},
            size     = #{size,jdbcType=TINYINT},
            is_Imax  = #{isImax,jdbcType=TINYINT},
            is3D     = #{is3d,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>