<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.cinemasystem.dataservices.MovieLikeMapper">
    <resultMap id="BaseResultMap" type="edu.nju.cinemasystem.data.po.MovieLike">
        <result column="user_id" jdbcType="INTEGER" property="id"/>
        <result column="movie_id" jdbcType="INTEGER" property="movieId"/>
        <result column="completeTime" jdbcType="DATE" property="completeTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, movie_id, completeTime
    </sql>

    <insert id="insert" parameterType="edu.nju.cinemasystem.data.po.MovieLike">
        insert into movie_like (user_id, movie_id, completeTime)
        values (#{id,jdbcType=INTEGER}, #{movieId,jdbcType=INTEGER}, #{completeTime,jdbcType=DATE})
    </insert>

    <insert id="insertSelective" parameterType="edu.nju.cinemasystem.data.po.MovieLike">
        insert into movie_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                user_id,
            </if>
            <if test="movieId != null">
                movie_id,
            </if>
            completeTime,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="movieId != null">
                #{movieId,jdbcType=INTEGER},
            </if>
            <choose>
                <when test="completeTime != null">
                    #{completeTime,jdbcType=DATE},
                </when>
                <otherwise>
                    now(),
                </otherwise>
            </choose>
        </trim>
    </insert>

    <select id="selectByUserAndMovie" parameterType="edu.nju.cinemasystem.data.po.MovieLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from movie_like
        where user_id=#{id} and movie_id=#{movieId}
        limit 1;
    </select>

    <select id="selectByMovieID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from movie_like
        where movie_id=#{movieID};
    </select>

    <select id="selectByUserID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from movie_like
        where user_id=#{userID};
    </select>

    <delete id="deleteByUserAndMovie" parameterType="edu.nju.cinemasystem.data.po.MovieLike">
        delete from movie_like
        where user_id=#{id} and movie_id=#{movieId};
    </delete>
</mapper>