<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.cinemasystem.dataservices.sale.OrderMapper">
    <resultMap id="BaseResultMap" type="edu.nju.cinemasystem.data.po.Order">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="real_amount" jdbcType="REAL" property="realAmount"/>
        <result column="original_amount" jdbcType="REAL" property="originalAmount"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="use_VIPcard" jdbcType="TINYINT" property="useVipcard"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, real_amount, original_amount, date, use_VIPcard
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `order`
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from `order`
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="edu.nju.cinemasystem.data.po.Order">
        insert into `order` (id, real_amount, original_amount,
                           date, use_VIPcard)
        values (#{id,jdbcType=BIGINT}, #{realAmount,jdbcType=REAL}, #{originalAmount,jdbcType=REAL},
                #{date,jdbcType=DATE}, #{useVipcard,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" parameterType="edu.nju.cinemasystem.data.po.Order">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="realAmount != null">
                real_amount,
            </if>
            <if test="originalAmount != null">
                original_amount,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="useVipcard != null">
                use_VIPcard,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="realAmount != null">
                #{realAmount,jdbcType=REAL},
            </if>
            <if test="originalAmount != null">
                #{originalAmount,jdbcType=REAL},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="useVipcard != null">
                #{useVipcard,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="edu.nju.cinemasystem.data.po.Order">
        update `order`
        <set>
            <if test="realAmount != null">
                real_amount = #{realAmount,jdbcType=REAL},
            </if>
            <if test="originalAmount != null">
                original_amount = #{originalAmount,jdbcType=REAL},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
            <if test="useVipcard != null">
                use_VIPcard = #{useVipcard,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="edu.nju.cinemasystem.data.po.Order">
        update `order`
        set real_amount     = #{realAmount,jdbcType=REAL},
            original_amount = #{originalAmount,jdbcType=REAL},
            date            = #{date,jdbcType=DATE},
            use_VIPcard     = #{useVipcard,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>