<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.cinemasystem.dataservices.user.UserHasRoleMapper">
    <resultMap id="BaseResultMap" type="edu.nju.cinemasystem.data.po.UserHasRoleKey">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
    </resultMap>

    <select id="selectByUserID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select user_id, role_id
        from user_has_role
        where user_id = #{userID};
    </select>

    <delete id="deleteByUserID" parameterType="java.lang.Integer">
        delete
        from user_has_role
        where user_id = #{userID}
    </delete>

    <insert id="insert" parameterType="edu.nju.cinemasystem.data.po.UserHasRoleKey">
        insert into user_has_role (user_id, role_id)
        values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="edu.nju.cinemasystem.data.po.UserHasRoleKey">
        insert into user_has_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByUserID" parameterType="edu.nju.cinemasystem.data.po.UserHasRoleKey">
        update user_has_role
        set role_id = #{roleId}
        where user_id = #{userId}
    </update>
</mapper>