<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.cinemasystem.dataservices.ManagerMapper">
    <resultMap id="BaseResultMap" type="edu.nju.cinemasystem.data.po.Manager">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="root" jdbcType="TINYINT" property="root"/>
    </resultMap>

    <resultMap id="ExtResultMap" type="edu.nju.cinemasystem.data.po.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, root
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="ExtResultMap">
        select user.id, user.name, user.password
        from user
        inner join manager m
        on user.id = m.user_id
        order by user_id
    </select>

    <select id="selectByName" resultMap="ExtResultMap">
        select user.id, user.name, user.password
        from user
        inner join manager m
        on user.id = m.user_id
        where name = #{name}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from manager
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="edu.nju.cinemasystem.data.po.Manager">
        insert into manager (user_id, root)
        values (#{userId,jdbcType=INTEGER}, #{root,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" parameterType="edu.nju.cinemasystem.data.po.Manager">
        insert into manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="root != null">
                root,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="root != null">
                #{root,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="edu.nju.cinemasystem.data.po.Manager">
        update manager
        <set>
            <if test="root != null">
                root = #{root,jdbcType=TINYINT},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="edu.nju.cinemasystem.data.po.Manager">
        update manager
        set root = #{root,jdbcType=TINYINT}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>