<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.cinemasystem.dataservices.StaffMapper">
    <resultMap id="BaseResultMap" type="edu.nju.cinemasystem.data.po.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <resultMap id="ExtResultMap" type="edu.nju.cinemasystem.data.po.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from staff
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="edu.nju.cinemasystem.data.po.Staff">
        insert into staff (user_id)
        values (#{userId,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="edu.nju.cinemasystem.data.po.Staff">
        insert into staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="selectAll" resultMap="ExtResultMap">
        select user.id, user.name, user.password
        from user
        inner join staff s
        on user.id = s.user_id
        order by user_id
    </select>

    <select id="selectByName" resultMap="ExtResultMap">
        select user.id, user.name, user.password
        from user
        inner join staff s
        on user.id = s.user_id
        where name = #{name}
    </select>
</mapper>